body{
    background: url(W.jpg);
    background-size: cover;
   
}
.foto_album{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    overflow: scroll;
    height: 500px;
    
}
.foto{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    
}
.foto img{
    width: 100%;

}

/* width */
::-webkit-scrollbar {
    display: none;
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
