body{
    background: url(W.jpg);
    background-size: cover;
    border: 1px solid black;
}
.foto_album{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    overflow: scroll;
    height: 500px;
    border: 1px solid rgb(230, 18, 18);
}
.foto{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    border: 1px solid rgb(98, 18, 163);

}
.foto img{
    width: 100%;
    border: 1px solid greenyellow;
}
/* width */
::-webkit-scrollbar {
    width: 0px;
  
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 0px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 0px;
    height : 0px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: green; 
    height : 0px;
  }